@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif !important;
}

.paragraph {
  font-family: 'Yesteryear' !important;
  font-size: 50px;
}

.heading {
  background-color: #bf0c0c;
  padding: 20px;
  font-size: 40px;
  /* font-family: 'Great Vibes' !important; */
  font-family: 'Carter One' !important;
  letter-spacing: 5px;;
  color: #ffffff;
  line-height: 3;
}

.footer {
  background: #ffffff0e;
}


.login-white, .register-white {
  background-color: rgb(247 247 247 / 38%);
}

.rad {
  color: #fa1313;
}

.blak {
  color: #2c2c2c;
}


.description {
  background-color: #efefef;
  padding: 15px;
}

.desc {
  color: #fa1313;  /* #0068e9; */
}

input,
textarea {
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(40, 40, 40);
  outline: none;
}

.primary-contained-btn {
  background-color: #464646;
  height: 40px;
  padding: 0 20px;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(222, 221, 221);
}

.read {
  color: #fa1313;
  text-decoration: overline;
}


.spin {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 10s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 480px) {
  .heading {
    font-size: 20px !important;
    line-height: 4 !important;
  }
  .paragraph {
    font-size: 30px !important;
  }
}